name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'

      # Build JAR using Maven
      - name: Build with Maven
        run: mvn -B -DskipTests clean package

      # Build and push Docker image
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/binance-u-analyzer:latest .

      - name: Push image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/binance-u-analyzer:latest
